body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:380px;
  top:318px;
  width:140px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
}
#u4_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:540px;
  opacity:0.899999976158142;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:540px;
}
#u6 {
  position:absolute;
  left:2px;
  top:262px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:50px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:40px;
  top:79px;
  width:150px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u10 {
  position:absolute;
  left:50px;
  top:111px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:50px;
  top:163px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:50px;
  top:310px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:50px;
  top:214px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:50px;
  top:362px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:50px;
  top:260px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:50px;
  top:413px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:220px;
  top:580px;
  width:235px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
